@charset "UTF-8";

body {
    background-color: #9DC7B7;
}

.container {
    width: 50%;
    margin: 10% auto;/*剩下的可用空間*/
}

.list {
    padding: 0px;
}

.list li {

    position: relative;/*物件定位時所要的參考對像*/
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 0px 10px 15px #666;
    /*使文字無法選取    */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*選擇項目前面圖示*/
    list-style: none;
}
/*偽選取 odd基數 even偶數
list li:nth-child(odd) {
    background: #f9f9f9;
}*/
/*當滑鼠移至某元件時的反應*/
.list li:hover {
    background: #ddd;
}

.listout {
    display: flex;
    align-items: center;
}

.listin {
    width: 176px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

.search{
    display: flex;
    margin-bottom: 10px;
}

.searchform{
    width: 200px
}

.searchin {
    height: 33px;
    width: 104px;
    box-shadow: 0px 10px 15px #666;
}

.search .input{
    width: 40px;
    padding: 6px;
    font-size: 18px;
}

.searchbtn{
    padding: 8px;
    background: #C7AB7B;
    color: #5C4319;
    text-align: center;
    font-size: 16px;
    cursor: pointer;/*滑鼠形狀*/
    transition: 0.3s;/*轉場*/
    border-radius: 50%;/*圓角*/
    margin-left: 12px;
}

.searchbtn:hover {
    background-color: #bbb;
}

#add {
    font-size: 25px;
    font-weight: 600;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


.addform {
    background-color: #B3C2D5;
    padding: 30px 40px;
    color: #5C4319;
    text-align: center;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 10px 15px #666;
}

.input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 97%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline:medium;
}

.check {
    text-align:left;
}

.addBtn {
    padding: 8px;
    background: #C7AB7B;
    color: #5C4319;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;/*滑鼠形狀*/
    transition: 0.3s;/*轉場*/
    border-radius: 50%;/*圓角*/
}

.addBtn:hover {
    background-color: #bbb;
}