<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>記帳本</title>
</head>
<body>
<section th:replace="load/header :: header"></section>
<div class="container">
    <h2 th:text="${name}"></h2>
        <form th:action="@{/moneynotes}" method="get">
            <input type="text" name="year" maxlength="4" placeholder="年" required>
            <input type="text" name="month" maxlength="2" placeholder="月" required>
            <button type="submit" >search</button>
        </form>
        <form class="header" th:action="@{/moneynotes}" th:object="${moneyObject}" method="post">
            <input type="text" class="input" placeholder="消費名稱" th:field="*{name}">
            <input type="text" class="input" placeholder="金額" th:field="*{pay}">
            <br>
            <input type="radio" class="check" checked="checked" value="餐費" th:field="*{billitem}"/>餐費
            <input type="radio" class="check" value="基本開銷" th:field="*{billitem}"/>基本開銷
            <input type="radio" class="check" value="娛樂費用" th:field="*{billitem}"/>娛樂費用
            <input type="radio" class="check" value="投資" th:field="*{billitem}"/>投資
            <button type="submit" class="addBtn">Add</button>
        </form>
    <ul th:each="list: ${moneyList}">
        <li>
            <span th:text="${list.date}"></span>
            <span th:text="${list.name}"></span>
            <span th:text="${list.pay}"></span>
            <span th:text="${list.billitem}"></span>
            <span class="close" th:onclick="'javascript:deleteNote(event,this,' + ${list.id} + ')'">x</span>
        </li>
    </ul>
    <div id="add"></div>

</div>
<script th:inline="javascript">
    let note = [[${moneyList}]];
    let add = 0;

    note.forEach(function(value, index, array){
        add+=array[index]["pay"]
    });

    document.getElementById("add").textContent = add;
</script>
<script>
    const addNote = () => {
        let name = document.getElementById('name').value;
        let pay = document.getElementById('pay').value;
        let billitem = document.getElementById('billitem').value;

        const data = {
            name: name,
            pay: pay,
            billitem: billitem
        }
        fetch('/moneynotes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(function(response) {
            location.reload();
        })
    }


    const updateTodo = (element,id,status) => {
        const notDone = 1;
        const done = 2;
        const data = {
            status: status === done ? notDone : done
        }
        fetch('todos/' + id, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(function (response) {
            if (status === done) {
                element.classList.remove("checked");
            } else {
                element.classList.add("checked");
            }
            location.reload();
        })
    }
    const deleteNote = (event,element,id) => {
        event.stopPropagation();
        fetch('moneynotes/'+ id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        }).then(function(response) {
            element.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode);
             location.reload();
        })
    }
</script>
</body>
</html>